<div th:fragment="footer">

<!--     slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
<!--     Wave Effects -->
    <script th:src="@{/js/waves.js}"></script>
<!--     Menu sidebar -->
    <script th:src="@{/js/sidebarmenu.js}"></script>
<!--     stickey kit -->
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
<!--     Custom JavaScript -->
    <script th:src="@{/js/custom.min.js}"></script>
<!--     Sweet-Alert  -->
    <script th:src="@{/assets/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/assets/plugins/sweetalert/jquery.sweet-alert.custom.js}"></script>
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>