<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>VIVAS Campaign X</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="CampaignX">
	<meta name="author" content="CampaignX">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/logo-icon_2.png}">

	<link type="text/css" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" />
	<link type="text/css" th:href="@{/css/style.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/custom-style.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/colors/red.css}" id="theme" rel="stylesheet">
	<link type="text/css" th:href="@{/assets/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/assets/plugins/toast-master/css/jquery.toast.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/assets/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/assets/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/assets/plugins/toast-master/css/jquery.toast.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/multiselect.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/style-anhbui.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/assets/plugins/icheck/skins/all.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/css/colors/red.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/assets/plugins/switchery/dist/switchery.min.css}" rel="stylesheet">
	<link type="text/css" th:href="@{/assets/plugins/select2/dist/css/select2.min.css}" rel="stylesheet">

	<script type='text/javascript' th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
	<script type='text/javascript' th:src="@{/assets/plugins/bootstrap/js/bootstrap.bundle.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
	<script type='text/javascript' th:src="@{/assets/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
	<script type='text/javascript' th:src='@{/js/ajaxfileupload.js}'></script>	<!-- jquery library -->
	<script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.twbsPagination.js}"></script>
	<script type="text/javascript" th:src="@{/js/vn-convert.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.serialize-object.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/toast-master/js/jquery.toast.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/icheck/icheck.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/icheck/icheck.init.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/switchery/dist/switchery.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/select2/dist/js/select2.full.js}"></script>

	<script type='text/javascript' th:src="@{/js/blockUI.js}"></script>
	<script type='text/javascript' th:src="@{/js/select2.min.js}"></script>
	<script type='text/javascript' th:src="@{/js/axios.min.js}"></script>
	<script type='text/javascript' th:src="@{/js/html2canvas.js}"></script>
	<script type='text/javascript' th:src="@{/js/jspdf.debug.js}"></script>
	<script type='text/javascript' th:src="@{/js/common/common.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>

</head>