<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="common/head :: head"></head>

<style>
    .date-picker[readonly]{
        background-color: #ffffff;
        color: black;
    }

    .has-danger-1.form-control{
	    border-bottom: 1px solid #F14F95;
    }
</style>

<body class="fix-header card-no-border">
<div th:insert="common/templates::alertMessage"></div>

<script type="text/javascript" th:src="@{/js/common/Stack.js}"></script>
<script type="text/javascript" th:src="@{/js/targetGroup-sub/SubCriteriaTree.js}"></script>
<script type="text/javascript" th:src="@{/js/targetGroup-sub/criteriaSetup.js}"></script>
<script type="text/javascript" th:src="@{/js/targetGroup/CriteriaTree.js}"></script>
<script type="text/javascript" th:src="@{/js/targetGroup/editCriteriaSetup.js}"></script>
<script type="text/javascript" th:src="@{/js/targetGroup/editTargetGroup.js}"></script>
<script type="text/javascript" th:src="@{/js/targetGroup/TargetGroupCommon.js}"></script>

<script type="text/javascript" th:src="@{/js/common-campaign/commonCampaign.js}"></script>
<script type="text/javascript" th:src="@{/js/common-campaign/commonEditCampaign.js}"></script>
<script type="text/javascript" th:src="@{/js/event-campaign-edit/step1.js}"></script>
<script type="text/javascript" th:src="@{/js/event-campaign-edit/step2.js}"></script>
<script type="text/javascript" th:src="@{/js/event-campaign-edit/step3.js}"></script>
<script type="text/javascript" th:src="@{/js/event-campaign-edit/step4.js}"></script>
<script type="text/javascript" th:src="@{/js/event-campaign-edit/step5.js}"></script>
<script type="text/javascript" th:src="@{/js/event-campaign-edit/step6.js}"></script>
<script type="text/javascript" th:src="@{/js/event-campaign-edit/action.js}"></script>

<script type="text/javascript" th:src="@{/js/qcTimepicker/qcTimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<link type="text/css" th:href="@{/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">
<link type="text/css" th:href="@{/assets/plugins/tagator/fm.tagator.jquery.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/assets/plugins/tagator/fm.tagator.jquery.js}"></script>
<div th:insert="common/templates::contextPath"></div>
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="2"/>
    </svg>
</div>

<div id="main-wrapper">
    <div th:replace="common/bodyHeader"></div>
    <div th:replace="common/leftmenu"></div>

    <!-- Page wrapper  -->
    <div class="page-wrapper">

        <!-- Container fluid  -->
        <div class="container-fluid">

            <div class="row pd-r-ctn">
                <div class="col-12">
                    <!--Data table -->
                    <div class="card">

                        <div class="card-block">
                            <div class="row smal_title">
                                <h4 class="card-title col-lg-12"><i class="add_cp_ic"></i>Thêm mới chiến dịch sự kiện</h4>
                            </div>

                            <div class="row row_prg_b">
                                <ul class="progressbar">
                                    <li class="active step-bar">Chi tiết</li>
                                    <li class="step-bar">Sự kiện</li>
                                    <li class="step-bar">Nhóm đối tượng</li>
                                    <li class="step-bar">Thông điệp</li>
                                    <li class="step-bar">Chính sách</li>
                                    <li class="step-bar">Tổng quan</li>
                                </ul>
                            </div>
                            <form th:action="@{/event-campaign/copy-new}" method="post" onsubmit="return validateForm()"  enctype="multipart/form-data">

                                <input type="hidden" th:value="${eventCampaign.campaignId}" id="campaignId" name="id-frequency-campaign">
                                <input type="hidden" th:value="${currentUser}" id="currentUser" name="currentUser">
                                <input type="hidden" th:value="${idTargetGroup}" id="idTargetGroup" name="idTargetGroup" >
                                <input type="hidden" th:value="${blacklistTargetGroupId}" id="blacklistTargetGroupId" name="blacklistTargetGroupId" >
                                <input type="hidden" th:value="${hasDeleteTargetGroup}" id="hasDeleteTargetGroup">
                                <input type="hidden" th:value="${hasDeleteTargetGroupBL}" id="hasDeleteTargetGroupBL">
                                <div th:replace="event-campaign/copy/copy-step1-detail"></div>

                                <div th:replace="event-campaign/edit/edit-step2-event"></div>

                                <div th:replace="event-campaign/edit/edit-step3-targetgroup"></div>

                                <div th:replace="event-campaign/edit/edit-step4-message"></div>

                                <div th:replace="event-campaign/edit/edit-step4-message-subgroups"></div>

                                <div th:replace="event-campaign/edit/edit-step5-policy"></div>

                                <div th:replace="event-campaign/edit/edit-step6-overview"></div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- End Container fluid  -->


        <footer class="footer">
            Bản quyền thuộc về Công ty TNHH Cung cấp Giải pháp Dịch vụ Giá trị gia tăng <span class="red-clr">VIVAS</span>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <div th:insert="common/footer" th:remove="tag"></div>
</div>

<script type="text/javascript" th:src="@{/js/event-campaign-edit/page-init.js}"></script>

<!--<div th:replace="event-campaign/create-step3-content-modal"></div>-->

</body>
</html>

