<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div class="ctn_rowcrit" th:id="${rowIdLevel1}" style="margin-top: 0px !important;">
    <div class="col-lg-12 row_crit" th:id="${level1}">
        <div class="row" >
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-3" th:id="${selectCriteriaID}" style="padding-left: 0px !important; padding-right: 0px !important;">
                        <div class="dropdown tieu_chi" >
                            <button th:id="${buttonIdLevel1}" onclick="clickSelectParam(event)" style="text-align: left;  white-space:normal !important; word-wrap:break-word;" class="form-control btn btn-success-1 btn-circle-lg dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Chọn tham số <i style="float: right" class="fa fa-angle-down"></i>
                            </button>

                            <ul id="menu" class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" tabindex="-1" >Thuê bao</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 1, 'Tuổi mạng',[[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Tuổi mạng</li>
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 2, 'Số ngày không hoạt động', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Số ngày không hoạt động</li>
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 3, 'Trạng thái', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Trạng thái</li>
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 4, 'Loại tài khoản', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Loại tài khoản</li>
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 5, 'Loại thuê bao/SIM', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Loại thuê bao/SIM</li>
                                        <li class="dropdown-submenu"><a class="dropdown-item">Số dư tài khoản chính</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 6, 'Số dư tài khoản chính', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Số dư tài khoản chính</li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 7, 'Số dư tài khoản chính OCS', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Số dư tài khoản chính OCS</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" tabindex="-1" >Tiêu dùng</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 8, 'Tổng tiêu dùng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Tổng tiêu dùng</li>
                                        <li class="dropdown-submenu" ><a class="dropdown-item" >Giá trị nạp tiền</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 9, 'Giá trị nạp tiền trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Giá trị nạp tiền trung bình</li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 10, 'Giá trị nạp tiền thấp nhất', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Giá trị nạp tiền thấp nhất</li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 11, 'Giá trị nạp tiền cao nhất', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Giá trị nạp tiền cao nhất</li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 12, 'Giá trị nạp tiền gần nhất', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Giá trị nạp tiền gần nhất</li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 13, 'Giá trị nạp tiền được nạp nhiều lần nhất', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Giá trị nạp tiền được nạp nhiều lần nhất</li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 14, 'Tổng giá trị nạp tiền', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Tổng giá trị nạp tiền</li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 15, 'Số lần nạp tiền', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Số lần nạp tiền</li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" tabindex="-1" >Cuộc gọi đi</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item">Số cuộc gọi đi</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 16, 'Số cuộc gọi đi nội mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Nội mạng</li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 17, 'Số cuộc gọi đi ngoại mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Ngoại mạng</li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 18, 'Số cuộc gọi đi quốc tế', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Quốc tế</li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 19, 'Số cuộc gọi đi toàn mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Toàn mạng</li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >Số phút gọi</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item">Tổng số phút gọi</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 20, 'Tổng số phút gọi nội mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Nội mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 21, 'Tổng số phút gọi ngoại mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Ngoại mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 22, 'Tổng số phút gọi quốc tế', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Quốc tế</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 23, 'Tổng số phút gọi toàn mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Toàn mạng</li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item">Số phút gọi trung bình</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 24, 'Số phút gọi nội mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Nội mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 25, 'Số phút gọi ngoại mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Ngoại mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 26, 'Số phút gọi quốc tế trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Quốc tế</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 27, 'Số phút gọi toàn mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Toàn mạng</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >Tiêu dùng cuộc gọi</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item">Tổng tiêu dùng cuộc gọi</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 28, 'Tổng tiêu dùng cuộc gọi nội mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Nội mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 29, 'Tổng tiêu dùng cuộc gọi ngoại mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Ngoại mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 30, 'Tổng tiêu dùng cuộc gọi quốc tế', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Quốc tế</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 31, 'Tổng tiêu dùng cuộc gọi toàn mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Toàn mạng</li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item">Tiêu dùng cuộc gọi trung bình</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 32, 'Tiêu dùng cuộc gọi nội mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Nội mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 33, 'Tiêu dùng cuộc gọi ngoại mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Ngoại mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 34, 'Tiêu dùng cuộc gọi quốc tế trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Quốc tế</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 35, 'Tiêu dùng cuộc gọi toàn mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Toàn mạng</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" tabindex="-1" >SMS gửi đi</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >Số SMS gửi đi</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu" >
                                                    <a class="dropdown-item" >Tổng SMS gửi đi</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 36, 'Tổng SMS nội mạng gửi đi', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Nội mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 37, 'Tổng SMS ngoại mạng gửi đi', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Ngoại mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 38, 'Tổng SMS quốc tế gửi đi', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Quốc tế</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 39, 'Tổng SMS toàn mạng gửi đi', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Toàn mạng</li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu" >
                                                    <a class="dropdown-item" >Số SMS trung bình</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 40, 'Số SMS nội mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Nội mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 41, 'Số SMS ngoại mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Ngoại mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 42, 'Số SMS quốc tế trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Quốc tế</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 43, 'Số SMS toàn mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Toàn mạng</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item">Tiêu dùng SMS</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-submenu" >
                                                    <a class="dropdown-item" >Tổng tiêu dùng SMS</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 44, 'Tổng tiêu dùng SMS nội mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Nội mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 45, 'Tổng tiêu dùng SMS ngoại mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Ngoại mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 46, 'Tổng tiêu dùng SMS quốc tế', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Quốc tế</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 47, 'Tổng tiêu dùng SMS toàn mạng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Toàn mạng</li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-submenu" >
                                                    <a class="dropdown-item" >Tiêu dùng SMS trung bình</a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 48, 'Tiêu dùng SMS nội mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Nội mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 49, 'Tiêu dùng SMS ngoại mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Ngoại mạng</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 50, 'Tiêu dùng SMS quốc tế trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Quốc tế</li>
                                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 51, 'Tiêu dùng SMS toàn mạng trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])">Toàn mạng</li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" tabindex="-1" >Tiêu dùng data</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 52, 'Tổng dung lượng data đã sử dụng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Tổng dung lượng data đã sử dụng</a></li>
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 53, 'Tổng tiêu dùng data', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Tổng tiêu dùng data</a></li>
                                        <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 54, 'Tiêu dùng data trung bình', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Tiêu dùng data trung bình</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="dropdown-item" tabindex="-1" >Gói cước</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >Gói DATA</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 55, 'Số lần đăng ký/gia hạn gói DATA', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Số lần đăng ký/gia hạn gói DATA</a></li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 56, 'Gói DATA đang sử dụng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Gói DATA đang sử dụng</a></li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 65, 'Số gói DATA đang sở hữu', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Số gói DATA đang sở hữu</a></li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 57, 'Số ngày quá hạn gói DATA', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Số ngày quá hạn gói DATA</a></li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 58, 'Số ngày sử dụng còn lại của gói DATA', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Số ngày sử dụng còn lại của gói DATA</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item">Gói KMCB</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 59, 'Số lần đăng ký/gia hạn gói KMCB', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Số lần đăng ký/gia hạn gói KMCB</a></li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 60, 'Gói KMCB đang sử dụng', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Gói KMCB đang sử dụng</a></li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 66, 'Số gói KMCB đang sở hữu', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Số gói KMCB đang sở hữu</a></li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 61, 'Số ngày quá hạn gói KMCB', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Số ngày quá hạn gói KMCB</a></li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 62, 'Số ngày sử dụng còn lại của gói KMCB', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Số ngày sử dụng còn lại của gói KMCB</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-item" >Giá trị gói cước đang sử dụng</a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 63, 'Giá trị gói lớn nhất', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Giá trị gói lớn nhất</a></li>
                                                <li class="dropdown-item" th:onclick="chonTieuChiSubTarget([[${subTreeId}]], 64, 'Giá trị gói nhỏ nhất', [[${buttonIdLevel1}]], [[${selectCriteriaID}]], [[${currentNodeID}]])"><a >Giá trị gói nhỏ nhất</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-1">
                <div class="row">
                    <div class="col-lg-12 act_crit" style="padding-right: 0px !important; padding-left: 0px !important;">
                        <button type="button" class="btn btn_ksn btn_ksn_delete btn_cl_black duplicate_btn" th:onclick="addCriteriaSubTarget([[${subTreeId}]], [[${endRowIdLevel1}]], [[${currentNodeID}]])" data-toggle="tooltip" data-placement="top" title="Thêm dòng">
                            <i class="duplicate_ic"></i>
                        </button>
                        <button type="button" th:id="'buttonDelete_'+${currentNodeID}" class="btn btn_ksn btn_ksn_delete btn_cl_black delete-sub-target" data-toggle="tooltip" th:onclick="deleteCriteriaSubTarget([[${subTreeId}]], [[${rowIdLevel1}]], [[${endRowIdLevel1}]], [[${currentNodeID}]])" data-placement="top" title="Xóa dòng">
                            <i class="delete_ic"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div  th:id="${endRowIdLevel1}">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</div>
</html>