<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="common/head :: head"></head>

<style>
    .date-picker[readonly]{
        background-color: #ffffff;
        color: black;
    }
</style>

<body class="fix-header card-no-border">
<div th:insert="common/templates::alertMessage"></div>
<script type="text/javascript" th:src="@{/js/freq-campaign-create/step1.js}"></script>
<script type="text/javascript" th:src="@{/js/freq-campaign-create/step3.js}"></script>
<script type="text/javascript" th:src="@{/js/freq-campaign-create/step4.js}"></script>
<script type="text/javascript" th:src="@{/js/freq-campaign-create/action.js}"></script>
<script type="text/javascript" th:src="@{/js/common-campaign/commonCampaign.js}"></script>
<script type="text/javascript" th:src="@{/js/common-campaign/commonCreateCampaign.js}"></script>
<script type="text/javascript" th:src="@{/js/qcTimepicker/qcTimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/js/targetGroup/TargetGroupCommon.js}"></script>
<script type="text/javascript" th:src="@{/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<link type="text/css" th:href="@{/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css}" rel="stylesheet">
<link type="text/css" th:href="@{/assets/plugins/tagator/fm.tagator.jquery.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/assets/plugins/tagator/fm.tagator.jquery.js}"></script>
<div th:insert="common/templates::contextPath"></div>
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="2"/>
    </svg>
</div>

<div id="main-wrapper">
    <div th:replace="common/bodyHeader"></div>
    <div th:replace="common/leftmenu"></div>

    <!-- Page wrapper  -->
    <div class="page-wrapper">

        <!-- Container fluid  -->
        <div class="container-fluid">

            <div class="row pd-r-ctn">
                <div class="col-12">
                    <!--Data table -->
                    <div class="card">

                        <div class="card-block">
                            <div class="row smal_title">
                                <h4 class="card-title col-lg-12"><i class="add_cp_freq_ic"></i>Thêm chiến dịch tần suất</h4>
                            </div>

                            <div class="row row_prg_b">
                                <ul class="progressbar progressbar_freq">
                                    <li class="active step-bar">Chi tiết</li>
                                    <li class="step-bar">Nhóm đối tượng</li>
                                    <li class="step-bar">Thông điệp</li>
                                    <li class="step-bar">Chính sách</li>
                                    <li class="step-bar">Tổng quan</li>
                                </ul>
                            </div>
                            <form th:action="@{/frequency-campaign/create-new}"
                                  method="post" onsubmit="return validateForm()"  enctype="multipart/form-data">
                                <div th:replace="frequency-campaign/create-step1-detail"></div>

                                <div th:replace="frequency-campaign/create-step2-targetgroup"></div>

                                <div th:replace="frequency-campaign/create-step3-message"></div>

                                <div th:replace="frequency-campaign/create-step3-message-subgroups"></div>

                                <div th:replace="frequency-campaign/create-step4-policy"></div>

                                <div th:replace="frequency-campaign/create-step5-overview"></div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- End Container fluid  -->


        <footer class="footer">
            Bản quyền thuộc về Công ty TNHH Cung cấp Giải pháp Dịch vụ Giá trị gia tăng <span class="red-clr">VIVAS</span>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <div th:insert="common/footer" th:remove="tag"></div>
</div>

<script type="text/javascript" th:src="@{/js/freq-campaign-create/page-init.js}"></script>

<!--<div th:replace="frequency-campaign/create-step3-content-modal"></div>-->

</body>
</html>

