<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="icon"/>
</head>

<body>
    <p>“Xin chào,</p>
    <p>Bạn vừa yêu cầu đặt lại mật khẩu tài khoản truy cập hệ thống Campaign X.</p>
    <p>Hãy nhấn vào liên kết sau để đặt lại mật khẩu: <span th:text="${link}"></span></p>
    <p>Đường dẫn có hiệu lực trong 24 giờ.</p>
    <p>Nếu bạn không yêu cầu đặt lại mật khẩu, hãy bỏ qua email này.”</p>
</body>

</html>