<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div class="add_cp_pages m-t-10" id="step-component-3-message-subgroups" style="display: none">
    <div id="content-message-subgroups"></div>

    <div class="btn_main_act">
        <div class="btn-group">
            <button class="btn btn-rounded btn-primary" id="step4-next-multi-message" type="button">Tiếp tục</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-rounded btn-danger cancel-create-campagin"  type="button">Hủy</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-rounded btn-secondary" id="step4-prev-multi-message" type="button">Quay lại</button>
        </div>
    </div>
</div>
