<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div class="col-lg-12 row_crit">
  <div class="row">
    <div class="col-lg-11">
      <div class="row div-data-input">
        <div class="col-lg-4">
          <div class="form-group">
            <select class="form-control custom-select selectpicker select-condition" data-dropup-auto="false" data-live-search="true">
            </select>
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-1">
      <div class="row">
        <div class="act_crit">
          <button type="button" class="btn btn_ksn btn_ksn_delete btn_cl_black duplicate_btn duplicate-ic"
                  onclick="addCondition()" data-toggle="tooltip" data-placement="top" title="Thêm sự kiện">
            <i class="duplicate_ic"></i>
          </button>
          <button type="button" class="btn btn_ksn btn_ksn_delete btn_cl_black delete-ic" data-toggle="tooltip"
                   data-placement="top" title="Xóa sự kiện">
            <i class="delete_ic"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

